/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* Grid */
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr;

}

header {
    grid-area: header;
    background-color: #FF3396;
    z-index: 9999;
}

.main_container {
    grid-area: main;
    background-image: url('images/macaroons.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

footer {
    grid-area: footer;
    background-color: #F6F6F5;
    text-align: center;
    padding: 40px;
}


/* Navigation styling */

svg { /*changing color of logo */
    fill: white;
}

/* mobile first navigation */
header ul {
    overflow: hidden;
    background-color: #FF3396;
  }

  header ul li {
 list-style: none;
  }
  
  header nav ul a {
    display: block;
    margin-top: .5em;
    padding: 20px;
    text-decoration: none;

  }
  
  header ul a:link {
    color:#F6F6F5;

    
  }
  
  header ul a:visited {
    color:#F6F6F5;
  }
  
  header ul a:focus {
    background-color: black;
    border: .5px solid #F8E739;
  }
  
  header ul a:hover {
    background-color: black;
    border: .5px solid #F8E739;
  }
  
  header ul a:active {
    color: white;
  }
  
  header nav ul {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: left;
    cursor: pointer;
  }
  
  header .menu-icon .nav-icon {
    background:#F6F6F5;
    display: block;
    width: 18px;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
  }
  
  header .menu-icon .nav-icon:before {
    background:#F6F6F5;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    transition: all .2s ease-out;
  }
  
  header .menu-icon .nav-icon:after {
    background:#FCF5F5;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -5px;
    transition: all .2s ease-out;
  }
  
  header .menu-btn {
    display: none;
  }
  
  header .menu-btn:checked ~ ul {
    max-height: 500px;
    transition: max-height .5s ease-out;
  }
  
  header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  
  header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  
  header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }
  

  @media screen and (min-width: 52em) /*832px*/ {

    /* navigation */
      header li a {
        padding: 20px 30px;
      }
    
      header nav ul {
        display: flex;
        justify-content: center;
        max-height: none;
      }
    
      header .menu-icon {
      display: none;
      }
    }


/******* skip nav styling******/

.skip {
    position:absolute; top:0; left:-9999px;
    }
    .skip:focus,.skip:active {
    position:absolute; top:7px; left:26px;
    background:#DA2C38; color:#FFF; /* White text on red background - same red used throughout site */
    }








  
  
/* h1 styling*/

.main_page_heading { /*home page only*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 100vw;
} 

/* h1 styling */
h1 {
    font-size: 90px;
    padding: 20px;
    margin-bottom: 70px;
    line-height: 1em;
    color: #FCF5F5;
    text-align: center;
    font-family:'Staatliches';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/* h2 styling */

h2 {
    font-size: 40px;
    text-align: center;
    padding: 2em;
}

/* paragraph styling */

p {
    padding: .8em;
}

/* heading paragraph styling */

.intro_paragraph {
    color:#F6F6F5;
}
/*CTAs button */

/*all*/
.CTA {
    border: 1px solid black;
    padding: 1.5em 2.5em;
    margin: 0.5em 0;
    border-radius: 10px;
    border: 1px solid #F8E739;
    background-color: #F6F6F5;
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 300px;
    text-align: center;
}

/* Contact CTA on home page */
.main_page_heading > :nth-child(3) {
    background-color: #F8E739;
}

/* About page */
.heading_container {
    display: block;
    height: auto;
    background-color: #FF3396;
}

.h1_aboutpage {
    margin: 0;
    -webkit-text-stroke-width: 0;

}

.heading_container p {
    padding: 1em 1em 3em 1em;
    text-align: center;
}

.main_container_other_pages {
    background-image:none;
}

.team_profiles ul {
    padding: 0 2em;
    margin-bottom: 3em;
    list-style-position: inside;
}

.team_profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(248, 231, 57, 1);
    border-radius: 10%;
}

.profile img {
    border-radius: 50%;
    margin: 1.5em 0;
}

.profile h3 {
    margin-top: 2em;
    font-size: 30px;
}

.profile p {
    font-size: 18px;
}

.profile span {
    font-size: 25px;
    font-weight:100;
}

#who { /* who are we? h2 heading */
    font-size: 55px;
    padding: 1em .1em;
}

#who_container {
    min-height: 500px;
    background-color:#FCF5F5;
    padding: 1em;
    text-align: center;
}

/* Recipe Page */

.recipes_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipes_container img {
    max-width: 300px;
    height: auto;
}

.recipe_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    background-color: #FCF5F5;
    margin-bottom: 100px;
}

.recipes_container h3 {
    font-size: 20px;
    text-align: center;
    padding-top: .7em;
}

.recipes_container p {
    font-size: 18px;
    text-align: center;
    padding: .7em 0;
   
}

.recipe_card a {
    text-decoration: none;
    color: inherit;
}

/* Individual recipe pages */

.single_recipe_container h2 { /*Ingredients and method headings on this page */
    padding: 1em;
}

.table {
    border:1px dashed #C0C0C0;
    border-collapse:collapse;
    padding:13px;
    width: 100vw;
    height: auto;
    margin-top: 10px;
}
.table th {
    border:1px dashed #C0C0C0;
    padding:13px;
    background:#F8E739;
}
.table td {
    border:1px dashed #C0C0C0;
    text-align:center;
    padding:13px;
    width: 33%;
}

caption {
    background-color: #F6F6F5;
    padding: .5em;
    border: 1px dashed #C0C0C0;
    font-size: 25px;
}

.single_recipe_banner { /* chocolate cake recipe banner */
    background-image: url('images/layered_cake_banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
    height: 600px;
}

.single_recipe_banner_mac { /* signature macaroons recipe banner */
    background-image: url('images/colourful_macaroons_banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
    height: 600px;
}

.single_recipe_banner_blue { /* blueberry cake recipe banner */
    background-image: url('images/blueberry_cake_banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
    height: 600px;
}

.single_recipe_banner_brownies { /* brownies recipe banner */
    background-image: url('images/brownies_banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
    height: 600px;
}

.single_recipe_container { /*Ingredients and method container */
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100vw;
}

.single_recipe_container div:nth-child(1) { /* Ingredients div*/
    max-width: 20em;
    margin-bottom: 2em;
}

.single_recipe_container div:nth-child(2) { /* Method div*/
    max-width: 35em;
}

.ingredients_list li {
    padding: 1em;
    border-bottom: 1px solid rgba(248, 231, 57, 1);
    border-radius: 10%;
    width: fit-content;
    display: block;
}

.method_list li {
    padding: 1.5em;
}

.step {
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid rgba(248, 231, 57, 1);
    border-radius: 10%;
}

/* Contact page styling */

.contact_paragraph {
    text-align: center;
    margin-top: 2em;
}


/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 3em;
}

form label {
    margin-bottom: 0.5rem;

}

form input {
    padding: 0.5rem;
    margin-bottom: 1em;
}

form textarea {
    padding: 0.5em;
    margin-bottom: 1em;
}

form button {
    padding: 0.5em;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #777;
}



/* Remaining media queries */


@media screen and (min-width: 45em) /*738px*/ { /* approx ipad size */

#who { /* who are we? h2 heading */
    font-size: 5em;
    padding: .7em .1em;
}


#who_container p {
    max-width: 30em;
    margin: 0 auto;
}

.table {
    margin: 0 auto;
    width: 400px;
}

}

@media screen and (min-width: 55em) /*890px*/ {
    h1 {
    font-size: 7em;
    }

    .recipes_container {
        display: block;
        margin: 0 auto;
        width:890px;
        height: 1200px;
    }
    
    .recipes_container img {
        max-width: 400px;
        height: auto;
    }
    
    .recipe_card {
        max-width: 400px;
        float: left;
        margin: 1em;
    }
    .single_recipe_container { /*Ingredients and method container */
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-top: 80px;
       
     }
     
     .single_recipe_container div:nth-child(1) { /* Ingredients div*/
         max-width: 15em;
         margin-right: 10em;

     }
     
     .single_recipe_container div:nth-child(2) { /* Method div*/
         max-width: 35em;
    
     }

}

@media screen and (min-width: 80em) /*1280px*/ {
    h1 {
    font-size: 9em;
    }


    #who_container {
        min-height: 600px;
    }

    .team_profiles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1400px;
        margin: 0 auto;
    }
    
    .profile {
        float: left;
        height: 700px;
        margin-bottom: 200px;
        max-width: 400px;
    }
    
}